In [4]:
#Install Jupyter notebook and run the first program and share the screenshot of the output.
print('Hello! Python,This is My First Program')

Hello! Python,This is My First Program

In [7]:

"""5. (5min) 
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 1000 and 1200 (both included). The numbers obtained should be printed in a comma separated sequence on a single line."""
#type(x)==int:
#type(y)==float:

for x in range(1000, 1201):
  if (x%7)==0:
		y=x/5.0
		if (y%5)!=0:
			print str(x)+",",  #coz u cant contacate an int+a string, so convert int to str then contacate

TabError: inconsistent use of tabs and spaces in indentation (<ipython-input-7-91ceafb6a03b>, line 9)

In [8]:
for x in range(1000, 1201):
  if (x%7)==0:
		y=x/5.0
		if (y%5)!=0:
			print str(x)+",",

TabError: inconsistent use of tabs and spaces in indentation (<ipython-input-8-e17b957b2d6d>, line 3)

In [9]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [10]:
nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185